{% load static %}

<div class="col-12 col-sm-6 col-lg-4">
    <div class="single-product-wrapper">
        <!-- Product Image -->
        <div class="product-img">
            {% if product.images.all %}
            <img src="{{ product.images.all.0.image.url }}" alt="{{ product.name }}">
            {% else %}
            <img src="{% static 'img/default-product.jpg' %}" alt="Default image">
            {% endif %}
            <!-- Hover Thumb -->
            {% if product.images.all|length > 1 %}
            <img class="hover-img" src="{{ product.images.all.1.image.url }}"
                 alt="{{ product.name }}">
            {% endif %}

            <!-- Product Badge -->
            {% if product.discount %}
            <div class="product-badge offer-badge">
                <span>-30%</span>
            </div>
            {% endif %}

            <!-- Favourite -->
            <div class="product-favourite">
                <a href="#" class="favme fa fa-heart"></a>
            </div>
        </div>

        <!-- Product Description -->
        <div class="product-description">
            <span>{{ product.brand.name }}</span>
            <a href="{% url 'product_detail' product.pk %}">
                <h6>{{ product.name }}</h6>
            </a>
            <p class="product-price">
                {% if product.old_price %}
                <span class="old-price">${{ product.old_price }}</span>
                {% endif %}
                ${{ product.price }}
            </p>

            <!-- Hover Content -->
<!--            <div class="hover-content">-->
<!--                &lt;!&ndash; Add to Cart &ndash;&gt;-->
<!--                <div class="add-to-cart-btn">-->
<!--                    <a href="#" class="btn essence-btn">Add to Cart</a>-->
<!--                </div>-->
<!--            </div>-->
        </div>
    </div>
</div>