<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title> 7/7 shop </title>

    <!-- Favicon  -->
    {% include 'components/styles.html' %}

</head>

<body>

    {% block header %}
    {% include 'layout/header.html' %}
    {% endblock header %}


    {% include 'components/cart.html' %}


    {% block main %}

    {% endblock main %}

    {% block footer %}
    {% include 'layout/footer.html' %}
    {% endblock footer %}

    {% include 'components/scripts.html' %}

</body>

</html>